<nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <div *ngIf="user; then nameBlock else loginBlock"></div>
      <ng-template #loginBlock>
        <li class="nav-item">
          <a class="nav-link" (click)="login()">Login</a>
        </li>
      </ng-template>
      <ng-template #nameBlock>
        <li class="nav-item">
          <a class="nav-link user-name">{{user.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ng-template>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['register']">Register</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['new-article']">Create article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['restore']">Restore Password</a>
      </li>
      <div *ngIf="user">
        <li class="nav-item" *ngIf="user.role=='admin'">
          <a class="nav-link" [routerLink]="['admin/'+user.id+'/articles']">Admin Panel</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
