.my-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.my-nav > div > ul {
margin-right: 25px;
}

.my-nav > div > ul > li{
  margin-left: 25px;
  margin-right: 25px;
}

.user-name {
  color: #28a745!important;
  font-weight: bold;
}
