<form role="form">
  <h3 class="text-center">Register</h3>
  <div class="form-group">
    <label for="name" class="sr-only form-control-label">email</label>
    <div class="mx-auto col-sm-10">
      <input name="name" type="text" class="form-control" id="name" placeholder="name" required="" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group">
    <label for="input2EmailForm" class="sr-only form-control-label">email</label>
    <div class="mx-auto col-sm-10">
      <input type="text" class="form-control" id="input2EmailForm" placeholder="email" required="" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group">
    <label for="input2PasswordForm" class="sr-only form-control-label">password</label>
    <div class="mx-auto col-sm-10">
      <input type="password" class="form-control" id="input2PasswordForm" placeholder="password" required="" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group">
    <label for="input2Password2Form" class="sr-only form-control-label">verify</label>
    <div class="mx-auto col-sm-10">
      <input type="password" class="form-control" id="input2Password2Form" placeholder="verify password" required="" [(ngModel)]="c_password" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group">
    <div class="mx-auto col-sm-10 pb-3 pt-2">
      <button (click)="register(name, email, password, c_password)" type="submit" class="btn btn-outline-secondary btn-lg btn-block">Register</button>
    </div>
  </div>
</form>
